
.body{
    margin: 0px;
    background-color: black;
}
.container{
    display: flex;
    
    align-self: flex-end;
}
.navbar-brand{
    font-size: 1.5em;
}



/* Change Nav link color and Font size */

.navbar .navbar-nav .nav-link {
    color: #0A66C2;
    font-size: 1.1em;
}
 /* Hover implementation */
.navbar .navbar-nav .nav-link:hover{
color: #D9D9D9;
}

.bg-light-custom{
    background-color: #D9D9D9;
}
/* .btn{
    background-color: blue;
    height:40px ; */
    
    
/* } */
.text-1{
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 100px;
}
.c-1{
    margin: 0%;
    align-items: center;
    align-self: center;
}

.c1{
    position: relative;
    background-size: cover;
    background-image: url("../images/TcketD.png");
    height: 250px;
    width: 100%;
}
.date{
    height: 75px;
    width: 55px;
    background-color: #014B96 ;
    position: absolute;
}
.date-1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:16px ;
}
.c1-t{
    text-align: center;
    position: relative;
    top: 170px;
    color: black;
    font-weight: 400;
    margin-bottom: 0%;
}
/* button Ticket */
.btn-t{
    
    position: relative;
    top: 185px;
    left: 40%;
    
    

}
/* .btn-t:hover{
    background-color: #D9D9D9;
    color: #0A66C2;
}
.btn-t a{
    text-decoration: none;
}
.btn-t-text{
    font-weight: normal;
    color: white;
    font-size: 1.0em;
    text-transform: capitalize;
} */
.c2{
    background-image: url(../images/Tcket\ D.png);
    height: 170px;
    width: 300%;
    
}
.image1{
    background-image: url(../images/Frame\ 8.png);
    width: 70%;
    height: 156px;
    
    
}


h2{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.8rem;
}



/* Checkout Page */

.container-f{
    max-width: 640px;
    height: auto;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    
}

/**
Styling user input errors
*/
.input-error{
    color: red;
    display: none;
}

.input-error-new{
    color: red;
}
/* 
styling stepper forms */

.stepper-form{
    background-color: #D9D9D9;
    max-width: 640px;
    height: auto;
}


.form-mpay{
    max-width: 330px;
    margin: auto;
}
.table-primary{
    margin: auto;
    max-width: 370px;
}

.b-o{
    border: none;
    background-color: #D9D9D9;
    padding-left: 0%;
}

.b-o:disabled{
    background-color: #D9D9D9;
}

/* M-pay Price Input */
.b-c:disabled{
    background-color: #D9D9D9;
}

th{
    color: #0A66C2;
}

/* input[type="number"]:disabled{background-color:white;} */

/* table{
    margin: auto;
    width: 330px;
    height: 110px;
    background-color: white;
        
}


 
table, th, td{
    border: 1px solid #ddd;
    border-collapse: collapse;
    height: 25px;
}
td{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
} */

/* checkout page */
.step{
 margin: auto;   
 width: 60px;
 height: 60px;
 background-color: #0A66C2;
 border-radius: 50%; 
 position: relative;  
}

.step-text{
  color: #ffffff;
  position: absolute; 
  top: 12px;
  right: 24px;
  font-size: 24px; 
}

.checkout-i{
   width: 100%;
   height: 170px;
   background-image: url(../images/Tcket\ D.png);
   background-size: cover;
   
    
}
.checkout-t{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
}

.input-t{
    width: 120px;
    border-style: hidden;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.input-t:focus{
    outline: none;
}


/* button Generic Properties */
/* .btn{
    background-color: #014B96;
    border-radius: 5px;
    border-style: none;
    margin: 5px;
    color: white;
} */

/* Generic Text */
.text{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin: 5px;
}
/* Normal Text */
.text-n{
    font-size:1.0em;
    color: black;
    margin: 5px;
}

/* .btn:hover{
    border: 1px solid #ddd;
    background-color: #014B96;
    color: whitesmoke;
} */

/* btn checkout */
.btn-checkout{
   height: 30px;
   border-radius: 5px;
   background-color: #0A66C2;
   border-style: none;
   position: relative;
   top: 15px;
   left: 150px;
   
}

/* m-pay page */

.container-p{
    width:55%;
    height:420px;
    margin: auto;
    background-color: #ddd;
    border-radius: 5px;
}

.text-t{
    font-size: 1.2em;
    font-weight: 600;
    color: #0A66C2;
}

.form-payment{
    border-style: none;
    width: 90%;
    margin: 5px;
    border-radius: 5px;
}

/* Confirm Page */

.container-c{
    background-color: #D9D9D9;
    border-radius:5px;
    margin: auto;
    max-width: 330px;
}

.hr-line{
    margin-top: 5px;
    color: white;
    border: 2px solid white;
}


/* Admin Page */

.admin-c{
    width: 85%;
    border-radius: 5px;
}

.input-type{
    background-color: white;
    border-radius: 5px;
    border-color: black;
    outline: none;
    
}

.input-type:focus, 
.input-type:active {
     border-color: #0A66C2;
}



/* AdminDashboard */
.dashb{
    max-width: 360px;
}

.text-d{
    text-decoration: none;
}



/* Ticket Download page */

.ticket{
    max-width: 360px;
    
    margin: auto;
}

.bg-image{
    max-width: 360px;
    background-image: url(../images/bg-image.svg);
}